<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-card color ="tertiary" class="card">
    <ion-card-header>
        <ion-card-subtitle><h3>Welcome to your music database application. Where Your Music Stay Together, Forever. </h3></ion-card-subtitle>
      <ion-card-title style="text-align:center"><h1>DBMUSIC APP</h1></ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <img src="..\assets\gramophone-nostalgia-23054924.jpg" style="border: 2px solid #172e39;">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      We invite you to generate your music library where you can write down the records of your connection, 
      the groups that make it up and much more in the near future, because remember: without music, life would be a mistake.
    </ion-card-content>
  </ion-card>

</ion-content>
